schemas/subschemas/fechamento/infoFechamento.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="infoFechamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dtInicio">
          <xs:annotation>
            <xs:documentation>Data Inicial no formato AAAA-MM-DD</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:date"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dtFim">
          <xs:annotation>
            <xs:documentation>Data Final no formato AAAA-MM-DD</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:date"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="sitEspecial">
          <xs:annotation>
            <xs:documentation>
                          Indicador de Situação Especial
                          0 - Não se aplica
                          1 - Extinção
                          2 - Fusão
                          3 - Incorporação/Incorporada
                          5 - Cisão Total
                        </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt"/>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nadaADeclarar" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
                          Indicador de nada a declarar no período:
                          1 - nada a declarar no período
                        </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte"/>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
